{% extends "style/base.html" %}

{% load static %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/libraries/jquery.toast.min.css' %}">
</link>
{% endblock %}

{% block content %}

<div id="wrapper">
  <div class="columns">
    <h1 class="title column topHead" align="center">Neural Style Transfer</h1>
  </div>
  <div class="columns">
    <div class="column">
      <div class="box">
        <h2 class="title">Webcam</h2>
        <div class="videoCont" id="webcam">
        </div>
        {% csrf_token %}
        <button class="button is-medium is-primary" onclick="take_snapshot()">
          Take Snapshot
          <i class="fas fa-camera" style="margin-left: 5px;"></i>
        </button>
      </div>
    </div>
    <div class="column">
      <div id="output-image-div" class="box" style="display: none;">
        <h2 class="title" style="padding-top: 0.3em">Output</h2>
        <div class="output videoCont" id="pic">
          <img id="photo" alt="The screen capture will appear in this box.">
        </div>
        <button class="button is medium is-link" style="margin-right: 8px;" onclick="save(event)">
          <a href="" style="color: inherit;" download="styled-image.jpg">
            Save
            <i class="fas fa-download" style="margin-left: 5px;"></i>
          </a>
        </button>
        <button class="button is medium is-success" style="margin-left: 8px;" onclick="generateNewStyle()">
          Style New Image
          <i class="fas fa-magic" style="margin-left: 5px;"></i>
        </button>
      </div>

      <div id="style-sample-div" class="box">
        <h2 class=" title">Styles</h2>
        <div class="columns">
          <div class="column">
            <a><img src="{% static 'style-sample-images/candy.jpg' %}" alt="Candy Style Sample Image" id="candy-sample-image" value="candy.pth" class="is-square hover-enable" onclick="styleChanged(event)" width="330px" height="330px"></a>
          </div>
          <div class="column">
            <a><img src="{% static 'style-sample-images/mosaic.jpg' %}" alt="Mosaic Style Sample Image" id="mosaic-sample-image" value="mosaic.pth" class="is-square hover-enable" onclick="styleChanged(event)" width="330px" height="330px"></a>
          </div>
        </div>
        <div class="columns">
          <div class="column">
            <a><img src="{% static 'style-sample-images/rain_princess.jpg' %}" alt="Rain Princess Style Sample Image" id="rain-princess-sample-image" value="rain_princess.pth" class="is-square hover-enable" onclick="styleChanged(event)" width="330px"
                height="330px"></a>
          </div>
          <div class="column">
            <a><img src="{% static 'style-sample-images/udnie.jpg' %}" alt="Udnie Style Sample Image" id="udnie-sample-image" value="udnie.pth" class="is-square hover-enable" onclick="styleChanged(event)" width="330px" height="330px"></a>
          </div>
        </div>
      </div>

      <div id="loading-div" class="box" style="display: none; padding: 15rem 2rem;">
        <h2 class="title">Styling...</h2>
        <progress class="progress is-medium is-info" max="100"></progress>
        <progress class="progress is-medium is-info" max="100"></progress>
        <progress class="progress is-medium is-info" max="100"></progress>
        <progress class="progress is-medium is-info" max="100"></progress>
        <progress class="progress is-medium is-info" max="100"></progress>
        <progress class="progress is-medium is-info" max="100"></progress>
        <progress class="progress is-medium is-info" max="100"></progress>
      </div>

    </div>
  </div>
</div>

<script src="{% static 'js/libraries/jquery.min.js' %}" charset="utf-8"></script>
<script src="{% static 'js/libraries/jquery.toast.min.js' %}" charset="utf-8"></script>
<script src="{% static 'js/libraries/popper.min.js' %}" charset="utf-8"></script>
<script src="{% static 'js/libraries/bootstrap.min.js' %}" charset="utf-8"></script>
<script type="text/javascript" src="{% static 'js/libraries/libwebcam.js' %}"></script>

<script src="{% static 'js/submitImage.js' %}" charset="utf-8"></script>

{% endblock %}